body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#visao-geral {
    background-color: rgb(19, 31, 133);
    color: white;
    font-family: "Roboto";
}

#planos {
    background-color: rgb(19, 87, 133);
    color: white;
}