body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background-color: #181A1B;
  color: white
  
}

.elemento-pai {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.elemento-pai {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o contêiner ocupar a altura total da tela */
    flex-direction: column; /* Coloca a lista e o botão em coluna */
}

#minhaLista {
    list-style-type: none; /* Remove marcadores padrão da lista */
    padding: 0;
    margin: 20px 0;
}

#minhaLista li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}

#adicionarItens {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

#adicionarItens:hover {
    background-color: #45a049; /* Verde mais escuro */
    transform: translateY(-2px); /* Eleva o botão ligeiramente */
}

#adicionarItens:active {
    background-color: #3e8e41; /* Verde ainda mais escuro */
    transform: translateY(2px); /* Pressiona o botão para baixo */
}

  flex-direction: column;
}

#minhaImagem{
  width: 400px;
  margin: 20px;
}

#meuBotao, #outroBotao {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

#meuBotao:hover {
  background-color: #45a049; /* Verde mais escuro */
  transform: translateY(-2px); /* Eleva o botão ligeiramente */
}

#meuBotao:active {
  background-color: #3e8e41; /* Verde ainda mais escuro */
  transform: translateY(2px); /* Pressiona o botão para baixo */
}

#textoSobreImagem {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#outroBotao {
  background-color: #0074BA;
}