body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background-color: #181A1B;
  color: white
  
}

button {
  width:150px;
  height:75px;
  position:fixed;
  top: 50%;
  left: 60%;
  color: white;
  background-color: #181A1B;
  border-radius: 25px;;
  text-align: center;
}

#move-button{
  left: 40%;
}

#toggle-visibility-button{
  left: 50%;
}

img{
  width: 150px;
  
}

#imagem{
  display: flex;
}
p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  width: 200px;;
  background-color: #3fb9ea;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px
}

#element-to-move {
  background-color:hsl(15, 100%, 52%);
  color: white;
}